<header>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="{{ path('home') }}"><img src="images/logo.png" alt="Logo" width="55" height="90"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item {{ app.request.get('_route') == 'home' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'about' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('about') }}">About</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'products' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('products') }}">Products</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'blog' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                                </li>
                                <li class="nav-item {{ app.request.get('_route') == 'contact' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>